.cert-hero,
.cert-detail, .certificate-mobile {
  background: linear-gradient(0deg, #0a2540, #0a2540),
    linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  padding: 10px 0px;
}

.certificate-flag{
  display: flex;
  justify-content: space-between;
  height: 30px;
}
.certificate-mobile-img{
  width: 170px;
height: 150px;
border-radius: 4px;

}
.certificate-mobile h5{
  font-family: Playfair Display;
  font-weight: 500;
  font-size: 20px;
color: #F8F9FA;  
}
.certificate-mobile span{
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  color: #DEE2E6;
}
.certificate-mobile input{
  width: 300px;
border: none;
border-bottom: 1px solid #CED4DA;
background-color: transparent;
margin-bottom: 10px;
}

.cert-detail-img {
  width: 170px;
  height: 150px;
  border-radius: 4px;
  background: #dcb9000d;
}
.cert-info {
  width: 90%;
  margin: 0px auto;
}

.winner-details{
  background: transparent;
}
.cert-desk1, .desk{
  display: none;
}

.certificate{
  height: 100vh;
}
.cert-desk1 h5{
  width: 90p;
}

.cert-info .input,
button {
  width: 100%;
  height: 56;
  padding: 10px 5px;
  border-radius: 4px;
  border: 1px solid #f8f9fa;
  margin: 30px 0px;
}
.cert-info button {
  background: #ffd700;
  font-family: Lato;
  font-weight: 400;
}

#role{
    width: 100%; 
height: 48px;
padding: 12px 0px;
border-right: none;
border-bottom: 1px solid #CED4DA;
background: linear-gradient(0deg, #0A2540, #0A2540),
linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.winner-data{
  padding-top: 170px;
  color: #F8F9FA;
}
.winner-data h5, .winner-data span{
  color: #0a2540 !important;
}
.cert-desk1 h5{
  border: none;
  /* border-bottom: 1px solid #ADB5BD; */
/* gap: 120px !important; */
font-family: Playfair Display;
font-weight: 500;
font-size: 40px;


}
.cert-desk1 span{
  width: 500px;
  height: 30px;
  font-family: Lato;
  font-weight: 400;
}

@media (min-width:760px) {

  .mob, .certificate-mobile{
    display: none;
  }
  .desk, .cert-desk1{
    display: block;
    color: #F8F9FA;
    padding-top: 20px;
  }
  .winner-data{
    padding-top: 190px;
  }
  .cert-desk1{
    margin-top: 70px;
  }
  .cert-desk1 img{
    width: 30px;
  }

  .winner-data input{
    width: 300px;
  border: none;
  border-bottom: 1px solid #CED4DA;
  background-color: transparent;
  margin-bottom: 10px;
  }
  .certificate-flag-desktop{
    display: flex;
    gap: 60px;
    border-bottom: 1px solid #CED4DA;
    width: 50%;
    margin: 10px 5px;
  }
  .my-lg-{
    border-bottom: 1px solid #CED4DA;
    width: 50%;
    margin: 10px 5px;
    padding: 5px 0px;
  }
  .winner-candidateName h5{
    width:250px ;
    font-size: 20px;
  }
}

@media (min-width: 960px) {
  .cert-hero,
  .cert-detail{
    background: transparent !important;
    padding: 0px !important;
  }
  .mo{
    position: absolute;
    top: 25px;
    left: 20px;
    z-index: 100 !important;
  }
  .cert-info {
    display: flex;
    justify-content: center;
    width: 100vw; 
  }
  .cert-desk1 {
    height: 808px !important ;
    width: 895px;
    border: none !important;
    margin-top: 0px;
  }
  .cert-desk2 {
    width: 617px;
    height: 808px;
    background: #f1f8fe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }

  .cert-desk1 h5{
    /* width: 580px;
    position: relative;
    /* top: 200px; */
    /* left: 40px; */
    border: none;
 font-family: Playfair Display;
font-weight: 500;
font-size: 40px;
  }
  .winner-candidateName h5{
    width:400px ;
  }
  .cert-desk1 span{
    width: 500px;
    position: relative;
    /* top: 200px; */
    /* left: 40px; */
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
  }

  .cert-info button {
    width: 90%;
    height: 56px;
    padding: 16px 32px;
  }

  .cert-hero,
.cert-detail {
  padding: 10px 0px;
}

.cert-info .input,
button {
  width: 90%;
}
#desk{
   position: relative;
   top: 20px;
   left: 40px;
}
.desk{
  color: #0a2540;
}
.winner-data{
  padding-top: 300px;
}

.certificate-flag-desktop{
  width: 600px !important;
border-bottom: 2px solid #CED4DA;
position: relative;
top: 180px;
left: 40px;
padding: 0px;

}
.my-lg-{
  position: relative;
  border-bottom: 1px solid #CED4DA;
  width: 600px;
  top: 180px;
  left: 40px;
  margin: 20px 0px !important;
}

.certificate-flag-desktop{
  display: flex;
  gap: 130px;
}

 .cert-info #input {
    width: 90%;
    height: 56px;
    padding: 16px 10px;
  } 
  
  .Country-Flag{
    width: 60px !important;
    height: 60px;
  }

}
