.cert-hero,
.cert-detail {
  background: linear-gradient(0deg, #0a2540, #0a2540),
    linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  padding: 40px 0px;
}

.cert-detail-img {
  width: 170px;
  height: 150px;
  border-radius: 4px;
  background: #dcb9000d;
}
.cert-info {
  width: 90%;
  margin: 0px auto;
}

/* .cert-info hr {
  border-bottom: 1px solid #ced4da;
} */



.cert-info .input,
button {
  width: 100%;
  height: 56;
  padding: 10px 5px;
  border-radius: 4px;
  border: 1px solid #f8f9fa;
  margin: 30px 0px;
}
.cert-info button {
  background: #ffd700;
  font-family: Lato;
  font-weight: 400;
}

#role{
    width: 100%;
height: 48px;
padding: 12px 0px;
border-right: none;
border-bottom: 1px solid #CED4DA;
background: linear-gradient(0deg, #0A2540, #0A2540),
linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}


@media (min-width: 960px) {
  .cert-info {
    display: flex;
    justify-content: center;
    height: 100vh; 
    width: 100vw; 
  }
  .cert-desk1 {
    width: 50%;
    height: 774px;
    background-image: url("../assets//win.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cert-desk2 {
    width: 40%;
    height: 774px;
    background: #f1f8fe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cert-desk1 h5,
  #role,
  span {
    width: 60%;
    position: relative;
    top: 500px;
    left: 40px;
  }
  #role{
    background: transparent;
    border-top: none;
  }

  .cert-info button {
    width: 90%;
    height: 56px;
    padding: 16px 32px;
  }
  .cert-info input {
    width: 90%;
    height: 56px;
    padding: 16px 10px;
  }

  .cert-hero,
.cert-detail {
  padding: 10px 0px;
}

.cert-info .input,
button {
  width: 90%;
}
#desk{
   position: relative;
   top: 20px;
   left: 40px;
}
}
