/* .hero{
    height: 656px;
    gap: 80px;
    background: linear-gradient(0deg, #212529, #212529)
} */
.hono{
margin-top: 30px;
padding: 0px 14px; 
height: 289px;
gap: 16px;

}

.hono h1{
font-family: Playfair Display;
font-weight: 500;
font-size: 38px;
color: #F8F9Ff;

}

.hono p{
    font-family: Lato;
font-weight: 400;
font-size: 14px;
/* width: 1068px; */
color: #F8F9FA;

}

.hono button{
    width: 270px;
height: 55px;
padding: 12px 18px;
margin-top: 20px;
border-radius: 4px;
background: #FFD700;

}

.hero img{
    width: 130px;
height: 240px;
border-radius: 3px;
}

@media (min-width:768px) {
    .hono h1{
    width: 70%;
    }

}

@media (min-width:960px) {
    .hono p{
        font-size: 24px;
        width: 1068px;
        padding-left: 20px;
    }
    .hono h1{
        padding-left: 20px;
    }
    .hono button{
        margin-left: 20px;
    }
    .hero img{
        width: 250px;
        height: 500px;
    }
    .hero{
        height: 900px;
    }
}