.dri {
  height: 750px;
  padding: 54px 20px;
  background: #f1f8fe;
}

.img{
  display: none;
}
.dri h1 {
  width: 300px;
  font-family: Playfair Display;
  font-weight: 500;
  font-size: 30px;
  color: #442604;
}
.dri hr {
  width: 300px;
  border: 1px solid #000000;
}
.dri p, .jud p {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  color: #89580a;
  
}
.homo3 img{
  width: 100%;
  margin: 0px auto;
}

.jud {
  height: 774px;
  padding: 64px 10px;
  gap: 40px;
  background: #fff3e7;
}
.jud h1 {
  font-family: Playfair Display;
  font-weight: 500;
  font-size: 28px;
}

.jud1 img {
  width: 250px;
  border-radius: 4px;
  height: 400px;
  background: #dcb9001a;

}


 
.CTA {
  background: linear-gradient(0deg, #0A2540, #0A2540),
              linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  height: 400px;
  position: relative;
}

.foo1 {
  position: relative; 
  z-index: 1;
  color: #F8F9FA;
  height: 100%; 
  padding: 10px;
  padding-top: 40px;
}

.foo1::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../assets/whatApp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cente;
  opacity: 0.2;
  z-index: -1;
}


.foo1 h2 {
  font-family: Playfair Display;
  font-weight: 500;
  font-size: 38px;
  color: #F8F9FA !important;
}
.foo1 p {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0px;

}
.foo1 button{
  width: 273px;
  height: 56;
  padding: 10px 20px;
  margin: 20px 0px;
  border-radius: 4px;
  background: #ffd700;
}

@media (min-width: 768px) {
  .homo3{
    display: none;
  }
  .img{
    display: block;
  }
    .dri{
        height: 600px;
    }
  .dri h1 {
    width: 70%;
  }
  .dri p {
    width: 90%;
  }

  .img img {
    width: 100%;
  }
  .jud h1 {
    width: 50%;
  }
  .jd1{
    width: 40%;
  }
  .jd1 img{
    width: 100%;
  }
}

@media (min-width: 960px) {
  .dri,
  .jud {
    height: 1100px;
  }
  .dri h1 {
    font-size: 46px;
    padding-left: 20px;
    width: 922px;
    height: 64px;
  }
  .hr {
    width: 430px;
    position: relative;
    left: 910px;
    bottom: 35px;
  }
  .hr hr {
    width: 100%;
    border: 2px solid #000000;
  }
  .dri p {
    width: 704px;
    font-size: 24px;
    padding-left: 20px;
  }
  .img {
    width: 100%;
    margin-top: 50px;
  }
  .img img {
    width: 98%;
    height: 600px;
    margin-left: 20px;
  }
  .jud h1 {
    width: 841px;
    font-size: 48px;
    padding-left: 20px;
  } 

  .jud p {
    width: 500px;
    font-size: 24px;
    padding-left: 20px;
  }
  .hrr {
    width: 500px;
    position: relative;
    left: 830px;
    bottom: 25px;
  }
  .hrr hr {
    width: 100%;
    border: 2px solid #000000;
  }
  .jd1{
      width: 680px;
  }
  .jud1 img {
    width: 630px;
    height: 600px;

  }
  .foo1{
    padding: 40px;
    margin: 0px;
  }
}
