.winner-hero{
    background: linear-gradient(0deg, #0A2540, #0A2540),
  linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  height: 300px;
  position: relative;
}

.winner-hero-CTA{
    position: relative;
    z-index: 1;
    color: #F8F9FA;
    height: 100%; 
}
.winner-hero-CTA::before{
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/whatApp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cente;
    opacity: 0.2;
    z-index: -1;
}
.winner-hero h1{
    font-family: Playfair Display;
font-weight: 500;
font-size: 48px;
padding:30px 10px ;

}
.winner-details, .winner-details11{
    background: #F1F8FE;
    height: 100% !important;

}
.winner-details11{
        padding: 60px 0px;
}
.winner-detail{
    width: 90%;
    margin: 0px auto;
    background: #F8F9FA;

}
.winner-detail-img{
    width: 100%;
    margin: 0px a;
    text-align: center;
}
.view-more button{
    width: 90%;
padding: 16px 32px;
border-radius: 4px;
border: 1px solid #442604
}

.country-flag{
    justify-content: space-between;
    height: 40px;
}

.country-flag img{
    width: 50px;
    height: 30p;
 
}
@media (min-width:760px) {
    .winner-hero{
        height: 250px;
    }
    .winner-hero-CTA{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width:960px) {
    .winner-hero{
        height: 400px;
    }
    .winner-details{
        display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: 100vh;
    }

    .winner-hero h1{
     display:  flex;
     justify-content: center;
     align-items: center;
    
    }

    .winner-detail-img{
        width: 100%;
        margin: 0px a;
        text-align: center;
        height: 450px;
    }
}