@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Nav button{
  background: #FFD700;
  width: 140px;
padding: 8px 16px;
border-radius: 4px;
}

.error{
  font-size: 10px;
  position: relative;
  top: -12px;
  color: red;
  
}

/* html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; 
} */

.head{
    background: linear-gradient(0deg, #0A2540, #0A2540),
linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));

}

.mod{
  background: linear-gradient(0deg, #0A2540, #0A2540),
  linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  padding: 90px 0px;
}
.cross{
  background: linear-gradient(0deg, #0A2540, #0A2540),
  linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  padding: 10px 20px;
}


.pop{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
}
.pop button{
  width: 300px;
height: 68px;
padding: 16px 32px;
border-radius: 4px;
background: #FFD700;
}
.pop span{
  color: #212529;
  font-family: Playfair Display;
font-weight: 500;
font-size: 36px;
text-align: center;

}



@media (min-width:960px) {
  /* .mod{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
 
  .pop{
    display: flex;
    justify-content: space-around;
    gap: 400px;
  }
 
}